.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-group {
  text-align: center;
}

.container {

  text-align: center;
  margin-top: 50px;

}

.nav-link {
  text-align: center;
  font-family: "Arial Black";
  font-size: large;
}

.button_primary {
  background-color: mediumblue;
  font-size: x-large;
  text-decoration-color: aliceblue;
  color: aliceblue;

}

.table-striped {
  text-align: center;

}

.iconImage {

}

.header {
  text-align: center;
  font-family: Arial;
  color: mediumblue;

}

.typo {

  font-family: "Times New Roman";

}

.button {
  text-align: right;
}

.main {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  text-align: center ;
  border : 5px WindowFrame ;


}

.noticePage {
  padding-left: 10%;
  border-style:groove ;
}

.form-group {
  text-align: center;
  margin-left: 600px;
  width:500px;
}

.form-control{
  text-align: center;
}

.form-title{
  margin-top: 80px;
  margin-left: 200px;
}
.container{
  width:500px;
  text-align: center;
  margin-left: 800px;
}